/data/training_set/*.wav
/data/training_set/*.mp3
/data/validation_set/*.npy
/data/training_set/*.npy
/data/validation_set/*.wav
/data/validation_set/*.mp3
/data/class_8_files/training_set/*.wav
/data/class_8_files/validation_set/*.wav
/data/class_8_files/training_set/*.mp3
/data/class_8_files/validation_set/*.mp3
/src/scripts/__pycache__/
/src/scripts/*.wav
/src/scripts/*.wav
.idea/
